<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Cadastro de Cliente </title>

</head>
<body> 
	<h1> Formulário de Clientes</h1>
	<form action="#" th:action="@{/process}" th:object="${cliente}" method="post">
	  
	  Nome: <input type="text" th:field="*{nome}">
	  <span th:if="${#fields.hasErrors('nome')}"
	  		th:errors="*{nome}"></span><br>
	  
	  Endereco: <input type="text" th:field="*{endereco}">
	  <span th:if="${#fields.hasErrors('endereco')}"
	  		th:errors="*{endereco}"></span><br>
	  
	  Cpf: <input type="text" th:field="*{cpf}">
	  <span th:if="${#fields.hasErrors('cpf')}"
	  		th:errors="*{cpf}"></span><br>
	  		
	  <input type="submit" value="Enviar">
	   
	</form>
</body>
</html>