<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byte Company</title>
</head>
<body>
    <h1>Seja Bem vindo!</h1>
   	<p>Sistema ByteCompany Carregado!</p>
   	
   	<p th:text="${mensagem}"></p>
   	<a href="/funcionarios">Aba de Funcionarios</a>
   	<a href="/clientes">Aba de Clientes</a>
   	
   	
</body>
</html>